    body {
      font-family: Arial, sans-serif;
      background-color: #f9f7fe;
      margin: 0;
      padding: 30px;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      padding: 30px;
      border-radius: 16px;
      box-shadow: 0 10px 40px rgba(65, 50, 100, 0.08);
    }

    h1 {
      font-size: 44px;
      margin-bottom: 20px;
      text-align: center;
      font: Helvetica;
      color: #564FD6;
      opacity: 80% ;
    }

    select {
      width: 100%;
      padding: 12px;
      font-size: 16px;
      border: 1px solid #ddd;
      border-radius: 8px;
      margin-bottom: 30px;
      background-color: #fff;
    }

    .city {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    }

    .city:last-child {
      border-bottom: none;
    }

    .city h2 {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
    }

    .date {
      font-size: 14px;
      color: #555;
      opacity: 0.8;
      margin-top: 5px;
    }

    .time {
      font-size: 48px;
      font-weight: bold;
      color: #000;
    }

    .time small {
      font-size: 16px;
      font-weight: normal;
      vertical-align: middle;
    }

  #back-button {
  margin-top: 30px;
  padding: 12px 24px;
  background-color: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#back-button:hover {
  background-color: #574fd6;
}

#back-button:active {
  background-color: #483fb3;
}

    footer {
      margin-top: 40px;
      text-align: center;
      font-size: 14px;
      color: #555;
      line-height: 1.6;
    }

    footer strong {
      color: #000;
    }

    footer a {
      color: #885df1;
      text-decoration: none;
    }

    footer a:hover {
      text-decoration: underline;
    }